@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5zoo3c');
  src:  url('fonts/icomoon.eot?5zoo3c#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5zoo3c') format('truetype'),
    url('fonts/icomoon.woff?5zoo3c') format('woff'),
    url('fonts/icomoon.svg?5zoo3c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-solar:before {
  content: "\e900";
}
.icon-pumping:before {
  content: "\e901";
}
.icon-wind:before {
  content: "\e902";
}
.icon-hydro:before {
  content: "\e903";
}
.icon-diesel:before {
  content: "\e904";
}
.icon-oil:before {
  content: "\e905";
}
.icon-co_gen:before {
  content: "\e906";
}
.icon-lng:before {
  content: "\e907";
}
.icon-coal:before {
  content: "\e908";
}
.icon-nuclear:before {
  content: "\e909";
}
