<div class="row card-list-wrap">
    <div class="col-xs-12">
        <div class="text-right">最後更新時間：<%=getTime%></div>
    </div>
    <div class="col-xs-12 col-lg-6">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-md-3">
                已發電量：<%=totalUsed.toFixed(2)%> MW
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-md-3">
                可發電量：<%=totalCapacity.toFixed(2)%> MW
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-md-3">
                運轉率：<%=((totalUsed/totalCapacity)*100).toFixed(2)%>%
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-md-3">
                <span class="warning-text">歲修電量：<%=totalFix.toFixed(2)%> MW</span>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-md-3">
                環保限轉電量：<%=totalLimit.toFixed(2)%> MW
            </div>
        </div>
    </div>

</div>
<% _.each(groupResult, function(result, groupName){

    var operatingTimeRatio = 0;
    if (result.capacity > 0) {
        operatingTimeRatio = ((result.used/result.capacity)*100).toFixed(2);
    }

    var operatingTimeRatioLabel = "label-default";
    if (operatingTimeRatio > 80) {
        operatingTimeRatioLabel = "label-danger";
    }
    operatingTimeRatio = "<span class='label "+operatingTimeRatioLabel+"'>"+operatingTimeRatio+"%</span>";
%>
<div class="row">
    <div class="col-xs-12 info-detail">
        <h4>
            <%=groupName%>
        </h4>
    </div>
    <div class="col-xs-12 info-detail">
        <div class="row">
            <div class="col-xs-12">
                發電量(已/可)：<%=result.used.toFixed(2)%>MW / <%=result.capacity.toFixed(2)%>MW <%=operatingTimeRatio%>
            </div>
        </div>
        <% if (result.fix > 0 || result.limit > 0) {%>
        <div class="row">
            <% if (result.fix > 0) {%>
            <div class="col-xs-12">
                <span class="warning-text">歲修：<%=result.fix.toFixed(2)%>MW</span>
            </div>
            <% }%>
            <% if (result.limit > 0) {%>
            <div class="col-xs-12">
                <span class="warning-text">環保限轉：<%=result.limit.toFixed(2)%>MW</span>
            </div>
            <% }%>
        </div>
        <% }%>

    </div>
    <div class="col-xs-12">
        <div class="row card-list-wrap">
            <% _.each(result.info, function(result_one){%>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <div class="plantBox <%=result_one.status%>" data-mappingname="<%=result_one.mappingName%>" data-gov="<%=result_one.gov%>" data-note="<%=result_one.note%>" data-type="<%=result_one.type%>" data-toggle="popover" data-title="備註" data-content="<%=result_one.showNote%>">
                    <div class="plantContent">
                        <div class="circle" data-thickness="5" data-size="130" data-value="<%=result_one.percent%>">
                            <div class="percent"><%=result_one.percent%>%</div>
                            <div class="icon <%=result_one.icon%>"></div>
                        </div>
                        <div class="name">
                            <h5><%=result_one.name%></h5>
                        </div>
                        <div class="fullName <%=(result_one.fullName!=''?'plantIntro':'')%>">
                            <%=result_one.fullName || "--"%>
                        </div>
                        <div class="info">
                            <%=result_one.used%>MW / <%=result_one.capacity%>MW
                        </div>
                    </div>
                </div>
            </div>
            <%})%>
        </div>
    </div>
</div>
<%})%>