<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><%=lang.powerPlantIntro%></h4>
            </div>
            <div class="modal-body">
                <%_.each(plantInfo, function(plantInfo_one){%>
                    <div class="powerPlantIntro">
                        <div class="imgLiquidFill photo">
                            <img src="<%=plantInfo_one.photo%>" alt="<%=plantInfo_one.fullName%>" style="display: none;">
                        </div>
                        <div class="introContent">
                            <table style="width: 100%">
                                <tr>
                                    <td>名稱</td>
                                    <td><%=plantInfo_one.name%></td>
                                </tr>
                                <tr>
                                    <td>全名</td>
                                    <td><%=plantInfo_one.fullName%></td>
                                </tr>
                                <tr>
                                    <td>地點</td>
                                    <td><%=plantInfo_one.location%></td>
                                </tr>
                                <tr>
                                    <td>所屬單位</td>
                                    <td><%=plantInfo_one.org%></td>
                                </tr>
                                <tr>
                                    <td>總發電量</td>
                                    <td><%=plantInfo_one.capacity%> MW</td>
                                </tr>
                                <tr>
                                    <td>機組數量</td>
                                    <td><%=plantInfo_one.amount%></td>
                                </tr>
                                <tr>
                                    <td>發電類型</td>
                                    <td><%=plantInfo_one.type.map(function(item){
                                        return lang[item];
                                    }).join("、")%></td>
                                </tr>
                                <tr>
                                    <td>狀態</td>
                                    <td><%=lang[plantInfo_one.status]%></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                <%})%>
            </div>
        </div>
    </div>
</div>