<div class="row">
    <div class="col-xs-12">
        <h4>摘要分析</h4>
    </div>
    <div class="col-xs-12 summarySlider">
        <div class="row">
            <div class="col-xs-6 text-left">
                <h5>關注時間區間</h5>
            </div>
        </div>
        <div id="slider">
        </div>
        <div class="row">
            <div class="col-xs-6 text-left start">

            </div>
            <div class="col-xs-6 text-right end">

            </div>
        </div>
    </div>
    <div class="col-xs-12 summaryContent">

    </div>
</div>